
.main_bnt h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
 
  .presencablocos {
    background-color: #f1f5f9;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  
  .presencablocos h3 {
    font-size: 1.4rem;
    color: #1e293b;
    margin-bottom: 10px;
  }
  
  
  .presencablocos span {
    display: flex;
    padding: 5px 0;
    color: #334155;
    font-size: 1.1rem;
    border-bottom: 1px solid #e2e8f0;
  }

  .confirmar-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A21500; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirmar-btn:hover {
    background-color: #C62810
  }
  
  .presencablocos span:last-child {
    border-bottom: none;
  }
  
.tabela_aulas {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: -120px 0 ;
}

.aulablocos {
  background-color: #f1f5f9;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aulablocos span {
  display: flex;
  padding: 5px 30px;
  color: #334155;
  font-size: 1.1rem;
  border-bottom: 1px solid #e2e8f0;
}

.aulablocos h3 {
  font-size: 1.4rem;
  color: #1e293b;
  margin-bottom: 10px;
}



  
  @media (max-width: 600px) {
    .main_bnt {
      padding: 15px;
    }
  
    .main_bnt h1 {
      font-size: 1.3rem;
    }

    .tabela_aulas {
      flex-direction: column;
      margin-bottom: 0;
    }

    .espaco {
      display: none
    }
  }